name: Build and Test

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
            8.0.x
            9.0.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:'XPlat Code Coverage' --results-directory ./coverage/temp

    - name: Generate lcov
      uses: danielpalme/ReportGenerator-GitHub-Action@5.4.12
      with:
        reports: coverage/temp/**/coverage.cobertura.xml
        targetdir: coverage/report/
        reporttypes: lcov
        assemblyfilters: -*UnitTests*

    - name: Upload to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage/report/lcov.info
        flag-name: Unit
